In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

E= lambda a,m,b: (a+4*m+b)/6
S=lambda b,a: ((b-a)/6)**2

In [4]:
TSemanas=[ [2,3,10],[10,12,20],[10,14,13],[7,10,12],[14,20,26],[3,5,7],[8,12,20],[1,1,1],[6,10,12],[1,3,5] ]

In [8]:
Esp=[]
Vars=[]
for i in range(len(TSemanas)):
    Esp.append( E(TSemanas[i][0],TSemanas[i][1],TSemanas[i][2]) )
    Vars.append(S(TSemanas[i][2],TSemanas[i][0]))

In [30]:
ECP=Esp[2]+Esp[6]+Esp[8]
VCP=Vars[2]+Vars[6]+Vars[8]
(42-ECP)/np.sqrt(VCP)

2.836832573067901

In [31]:
#Actividad 13

2.8260869565217392

In [117]:
def Promedios_moviles(Lista,periodo,errores=True,errorescuadraticos=True):
    Lista2=Lista.copy()
    Lista2.append(0)
    Promedios=[]
    for i in range(periodo-1,len(Lista)):
        suma=0
        for j in range(periodo):
            suma=suma+Lista[i-j]
        #Promedios.append(round(suma/periodo,2) )
        Promedios.append(suma/periodo )
    Añadir=[0]*(periodo-1)
    Añadir.extend(Promedios)
    Promedios=Añadir.copy()
    Pronosticos=[0]
    Pronosticos.extend(Promedios)
    Promedios.append(0)
    Datos=[Lista2,Promedios,Pronosticos]
    Columnas=['Numero de accidentes','Promedio móvil de {} términos'.format(periodo),'Pronósticos']
    if errores:
        Errores=[]
        Erroresva=[]
        for i in range(0,len(Lista2)):
            if i<=(periodo-1) or i==len(Lista):
                Errores.append(0)
                Erroresva.append(0)
            else:
                Errores.append(Lista2[i]-Pronosticos[i])
                Erroresva.append(abs(Errores[-1]))
        Datos.append(Errores)
        Datos.append(Erroresva)
        Columnas.append('Errores')
        Columnas.append('Errores valor absoluto')
        
    if errorescuadraticos:
        ErroresC=[]
        for i in range(0,len(Errores)):
            ErroresC.append(Errores[i]**2)
        Datos.append(ErroresC)    
        Columnas.append('Errores Cuadraticos')
    Ret=pd.DataFrame(Datos)
    Ret2=Ret.transpose()
    Ret2.columns=Columnas
    ponderador=len(Lista)-periodo
    return Ret2,ponderador

In [118]:
Accidentes=[200,135,195,198,310,175,155,130,220,277,235,240]
Proms,n=Promedios_moviles(Accidentes,3)
Proms['Errores valor absoluto'].sum()/n

64.0

In [139]:
Proms,n=Promedios_moviles(Accidentes,5)
#Proms[['Numero de accidentes','Promedio móvil de 5 términos']]
#Proms['Errores valor absoluto'].sum()/n
Proms

,Numero de accidentes,Promedio móvil de 5 términos,Pronósticos,Errores,Errores valor absoluto,Errores Cuadraticos
0,200.0,0.0,0.0,0.0,0.0,0.00
1,135.0,0.0,0.0,0.0,0.0,0.00
2,195.0,0.0,0.0,0.0,0.0,0.00
3,198.0,0.0,0.0,0.0,0.0,0.00
4,310.0,207.6,0.0,0.0,0.0,0.00
5,175.0,202.6,207.6,-32.6,32.6,1062.76
6,155.0,206.6,202.6,-47.6,47.6,2265.76
7,130.0,193.6,206.6,-76.6,76.6,5867.56
8,220.0,198.0,193.6,26.4,26.4,696.96
9,277.0,191.4,198.0,79.0,79.0,6241.00
10,235.0,203.4,191.4,43.6,43.6,1900.96
11,240.0,220.4,203.4,36.6,36.6,1339.56
12,0.0,0.0,220.4,0.0,0.0,0.00

In [166]:
accidentes2=[17,21,19,23,18,16,20,18,22,20,15,22]
Promeds,m=Promedios_moviles(accidentes2,5)
#Promeds['Errores valor absoluto'].sum()/m
Promeds[['Numero de accidentes','Promedio móvil de 5 términos']]
#Promeds

    Numero de accidentes  Promedio móvil de 5 términos
0                   17.0                           0.0
1                   21.0                           0.0
2                   19.0                           0.0
3                   23.0                           0.0
4                   18.0                          19.6
5                   16.0                          19.4
6                   20.0                          19.2
7                   18.0                          19.0
8                   22.0                          18.8
9                   20.0                          19.2
10                  15.0                          19.0
11                  22.0                          19.4
12                   0.0                           0.0

In [170]:
accidentes2=[17,21,19,23,18,16,20,18,22,20,15,22]
Promeds2,m2=Promedios_moviles(accidentes2,4)
#Promeds2['Errores valor absoluto'].sum()/m2
Jiji=Promeds2.loc[0:,['Numero de accidentes','Promedio móvil de 4 términos','Pronósticos','Errores','Errores Cuadraticos']]
Jiji.index.name='Semanas Periodo'
Jiji.index=pd.Series(list(range(1,14)))
Jiji.index.name='Semanas Periodo'

In [178]:
Jiji['Errores Cuadraticos'].sum()/m2

9.6484375

In [174]:
accidentes2=[17,21,19,23,18,16,20,18,22,20,15,22]
Promeds2,m2=Promedios_moviles(accidentes2,4)
#Promeds2['Errores valor absoluto'].sum()/m2
Jiji2=Promeds.loc[:,['Numero de accidentes','Promedio móvil de 5 términos','Pronósticos','Errores','Errores Cuadraticos']]
Jiji2.index.name='Semanas Periodo'
Jiji2.index=pd.Series(list(range(1,14)))
Jiji2.index.name='Semanas Periodo'

In [182]:
Jiji2['Errores Cuadraticos'].sum()/m

7.405714285714287